<!-- component -->
<div class="py-16 bg-[#101828]">  
    <div class="container m-auto px-6 text-white md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
          <div class="md:5/12 lg:w-5/12">
            <img src="/images/laptop.jpg" class="size-xl" alt="About Us">        </div>
          <div class="md:7/12 lg:w-6/12">
            <h2 class="text-2xl text-shadow-white font-bold md:text-4xl">About Youssef Ait Rais</h2>
            <p class="mt-6 text-shadow-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis voluptatem accusantium nemo perspiciatis delectus atque autem! Voluptatum tenetur beatae unde aperiam, repellat expedita consequatur! Officiis id consequatur atque doloremque!</p>
            <p class="mt-4 text-shadow-white"> Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at? Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia.</p>
          </div>
        </div>
    </div>
  </div>

  <div class="bg-[#101828]">
    <div class="flex justify-center align-center">
      <a href="#" class="block rounded-md border border-gray-300 p-4 shadow-sm sm:p-6">
        <div class="sm:flex sm:justify-between sm:gap-4 lg:gap-6">
          <div class="sm:order-last sm:shrink-0">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-16 rounded-full object-cover sm:size-[72px]"
            />
          </div>
      
          <div class="mt-4 sm:mt-0">
            <h3 class="text-lg font-medium text-pretty text-gray-900">
              How I built my first website with Nuxt, Tailwind CSS and Vercel
            </h3>
      
            <p class="mt-1 text-sm text-gray-700">By John Doe</p>
      
            <p class="mt-4 line-clamp-2 text-sm text-pretty text-gray-700">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum provident a, ipsa
              maiores deleniti consectetur nobis et eaque.
            </p>
          </div>
        </div>
      
        <dl class="mt-6 flex gap-4 lg:gap-6">
          <div>
            <dt class="text-sm font-medium text-gray-700">Published on</dt>
      
            <dd class="text-xs text-gray-700">31/06/2025</dd>
          </div>
      
          <div>
            <dt class="text-sm font-medium text-gray-700">Reading time</dt>
      
            <dd class="text-xs text-gray-700">12 minutes</dd>
          </div>
        </dl>
      </a>
    </div>
    <div class="flex justify-center align-center">
      <a href="#" class="block rounded-md border border-gray-300 p-4 shadow-sm sm:p-6">
        <div class="sm:flex sm:justify-between sm:gap-4 lg:gap-6">
          <div class="sm:order-last sm:shrink-0">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-16 rounded-full object-cover sm:size-[72px]"
            />
          </div>
      
          <div class="mt-4 sm:mt-0">
            <h3 class="text-lg font-medium text-pretty text-gray-900">
              How I built my first website with Nuxt, Tailwind CSS and Vercel
            </h3>
      
            <p class="mt-1 text-sm text-gray-700">By John Doe</p>
      
            <p class="mt-4 line-clamp-2 text-sm text-pretty text-gray-700">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum provident a, ipsa
              maiores deleniti consectetur nobis et eaque.
            </p>
          </div>
        </div>
      
        <dl class="mt-6 flex gap-4 lg:gap-6">
          <div>
            <dt class="text-sm font-medium text-gray-700">Published on</dt>
      
            <dd class="text-xs text-gray-700">31/06/2025</dd>
          </div>
      
          <div>
            <dt class="text-sm font-medium text-gray-700">Reading time</dt>
      
            <dd class="text-xs text-gray-700">12 minutes</dd>
          </div>
        </dl>
      </a>
    </div>
    <div class="flex justify-center align-center">
      <a href="#" class="block rounded-md border border-gray-300 p-4 shadow-sm sm:p-6">
        <div class="sm:flex sm:justify-between sm:gap-4 lg:gap-6">
          <div class="sm:order-last sm:shrink-0">
            <img
              alt=""
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
              class="size-16 rounded-full object-cover sm:size-[72px]"
            />
          </div>
      
          <div class="mt-4 sm:mt-0">
            <h3 class="text-lg font-medium text-pretty text-gray-900">
              How I built my first website with Nuxt, Tailwind CSS and Vercel
            </h3>
      
            <p class="mt-1 text-sm text-gray-700">By John Doe</p>
      
            <p class="mt-4 line-clamp-2 text-sm text-pretty text-gray-700">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. At velit illum provident a, ipsa
              maiores deleniti consectetur nobis et eaque.
            </p>
          </div>
        </div>
      
        <dl class="mt-6 flex gap-4 lg:gap-6">
          <div>
            <dt class="text-sm font-medium text-gray-700">Published on</dt>
      
            <dd class="text-xs text-gray-700">31/06/2025</dd>
          </div>
      
          <div>
            <dt class="text-sm font-medium text-gray-700">Reading time</dt>
      
            <dd class="text-xs text-gray-700">12 minutes</dd>
          </div>
        </dl>
      </a>
    </div>
      
    
  </div>
 
  